<div class="container-fluid vh-100 d-flex flex-column">
    <!-- Main Content -->
    <div class="row flex-grow-1 g-0">
        <div class="col-12 d-flex align-items-center justify-content-center bg-light">
            <div class="container">
                <!-- Dashboard Section -->
                <div class="row mb-5">
                    <div class="col-12">
                        <app-dashboard></app-dashboard>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>